.row {
  padding: 20px;  
}

body {
	font-family: 'Scope One', serif;
	font-size: 20px;
}

h1 {
	font-family: 'Mogra', cursive;
	text-align: center;
	margin-top: 40px;
}

#box {
	width: 400px;
	height: 300px;
	margin: 40px auto;
}

button {
	padding: 8px 20px;
	margin: 10px 0;
	background-color: black;
	color: white;
	border: none;
}

#icons {
	width: 400px;
	height: 400px;
	margin: 40px auto;
}